body{
background-color: #dbdbdb;
}

.producto {
    position: relative;
}

.producto .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0); 
    transition: all 300ms;
}

.producto .link:hover {
    background: rgba(0,0,0,0.1);
}

.producto img{
    width: 250px;
}

